*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.login{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    color: hsl(223, 10%, 10%);
    font: 1em/1.5 "sans-serif";
}

.column{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1.5em;
    position: relative;
}

.header{
    width: 100%;
    padding: 1.5em 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1;
    margin: auto;
    width: 9rem;
}

.form{
    width: 22em;
    flex-shrink: 0;
    margin: 3em 0;
    height: min-content;
}

h1{
    font-size: 2em;
    margin: 0 0 1.5rem;
    text-align: center;
}

.segmented{
    position: relative;
    background-color: hsl(233, 10%, 90%);
    border-radius: 0.75em;
    display: flex;
    margin-bottom: 1.5em;
    min-height: 3em;
}

.segmented-btn{
    border-radius: 0.875em;
    box-shadow: 0 0 0 0.1875em var(--focus-t) inset;
    color: hsl(223, 10%, 40%);
    cursor: pointer;
    outline: transparent;
    padding: 0.75em;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.segmented-btn[aria-selected=true]{
    color: hsl(223, 10%, 10%);
}

.segmented-focus{
    background-color: white;
    border-radius: 0.625em;
    pointer-events: none;
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    width: calc(50% - 0.5em);
}

.field{
    position: relative;
    margin-bottom: 2.25em;
}

.input-textbox{
    width: 100%;
    background-color: transparent;
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.125em hsl(233, 10%, 80%) inset;
    outline: transparent;
    padding: 1.5em 1em 0.5em 1em;
    padding-inline-end: 3.5em;
    appearance: none;
}