*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: #171810;
}

ul{
    width: 96.91vw;
    height: 10.55vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

ul li{
    display: inline-block;
    transform-style: preserve-3d;
}