:root{
    --background-color: #1C2025;
    --hover-background-color: #303740;
    --color: #DAE2ED;
    --padding: 8px;
    --border-radius: 8px;
    --title-content-space: 4px;
}

.dropdown{
    text-align: center;
}

.dropdown-title{
    position: relative;
    margin-bottom: var(--title-content-space);
}

.dropdown-title::after{
    content: "";
    position: absolute;
    width: 100%;
    height: var(--title-content-space);
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}

.dropdown-title, .dropdown-content{
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: var(--color);
    cursor: pointer;
}

.dropdown-title:hover, .dropdown-content a:hover{
    background-color: var(--hover-background-color);
}

.dropdown-title:hover + .dropdown-content, .dropdown-content:hover{
    transform: scaleY(1);
}

.dropdown-content{
    display: flex;
    flex-direction: column;
    transition: transform 0.35s ease;
    transform-origin: top;
    transform: scaleY(0);
}